*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
html,
root {
  font-family: Raleway, Aerial, sans-serif;
  font-size: 10px;
}

body {
  margin: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.App {
  /* background-image: url('./deadpool.jpeg'); */
  height: 100vh;
  background-repeat: no-repeat;
}
.date-time {
  width: 200px;
  background: black;
  opacity: 0.8;
  padding: 2px;
  color: white;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.text-8xl {
  font-size: 24px;
}
.text-2xl {
  font-size: 14px;
}
.border {
  border-bottom: 2px solid greenyellow;
  margin: 0 20px;
}

.search__bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search__bar input {
  border-radius: 24px;
  height: 40px;
  width: 450px;
  outline: none;
  border: none;
  padding: 0rem 2rem 0rem 4rem;
  font-size: 1.4rem;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  margin-bottom: 2rem;
}

.search__bar .button {
  background-color: white;
  padding: 0.8rem 1.8rem;
  border-radius: 4px;
  font-size: 1.2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: rgb(20, 20, 20);
}

.search__bar .button.disabled {
  pointer-events: none;
  background-color: #c5c5c5;
}

.search__bar .input__wrapper {
  position: relative;
}

.search__bar img {
  position: absolute;
  top: 10px;
  width: 20px;
  height: 20px;
  z-index: 1;
  left: 12px;
}

.quotes{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    color: #fff;
}
.quotes h2{
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
}
.quotes span{
    font-size: 20px;
}